* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c1,
.s1 {
    color: rgba(254, 163, 1, 1);
}

.c2,
.s2 {
    color: rgba(1, 172, 253, 1);
}

.c3 {
    color: rgba(5, 212, 223, 1);
}

.c4 {
    color: rgba(93, 88, 239, 1);
}

header {
    max-width: 1280px;
    margin: 0 auto;
    background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
}

header .icon {
    display: none;
}

header .icon i {
    font-size: 2rem;
    cursor: pointer;
}

.navbar {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 180px;
}

.logo img {
    width: 50px;
    cursor: pointer;
}

.logo h3 {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 500;
}

.c1 {
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-1 {
    display: flex;
    width: 148px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Orange, #FEA301);
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border: none;
}

.btn-1:hover {
    color: var(--Orange, #FEA301);
    background: lightgrey;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-desc {
    max-width: 500px;
    gap: 24px;
}

.banner-desc h1 {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 61px;
    align-self: stretch;
}

.banner-desc p {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 24px 0;
}

.btn-2 {
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Black, #111);
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.btn-2:hover {
    color: var(--Black, #111);
    background: white;
}

.banner-img img {
    width: 100%;
}

.curriculum {
    background-image: url(./assets/bg.png);
    background-size: 108%;
}

.curriculum-sec {
    max-width: 1280px;
    margin: 0 auto;
}

.curriculum h2 {
    padding: 60px 0 80px 0;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 2.5rem;
    font-weight: 700;
}

.curriculum .card-box {
    display: flex;
    text-align: center;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 367.805px;
    height: 476.784px;
    padding: 32.819px 20.668px 33.762px 20.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20.069px;
    flex-shrink: 0;
}

.card h4 {
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 24px 0;
}

.card p {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 20px;
}

.card-1 {
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-2 {
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-3 {
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card a {
    font-size: 0.9rem;
    font-weight: 700;
}

.card-1 a {
    color: #64c8ff;
}

.card-2 a {
    color: #f0aa00;
}

.card-3 a {
    color: #8700ff;
}

.icons {
    padding: 80px 0 60px 0;
    text-align: center;
}

.story {
    background: linear-gradient( 0deg, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), url("./assets/bg.png");
    background-size: 95%;
    align-items: center;
    justify-content: center;
}

.story h2 {
    padding: 60px 0 80px 0;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
}

.story-box {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
}

.story-img {
    height: auto;
}

.story-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.story-card {
    background-color: white;
    border-radius: 16px;
}

.first {
    grid-column: span 2;
    grid-row: span 2;
}

.story-desc button {
    height: 47px;
    padding: 0 18px;
    position: absolute;
    top: -26px;
    border-radius: 47.934px;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
}

.btn-3 {
    background-color: #3cd8e8;
}

.btn-4 {
    background-color: #95b226;
}

.btn-5 {
    background-color: #5d58f0;
}

.first .story-desc {
    padding: 0 68px 34px 38px;
    position: relative;
}

.first .story-desc h3 {
    padding-top: 50px;
    margin-bottom: 50px;
    color: #000;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
}

.first .story-desc p {
    color: #666;
    font-family: Raleway;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
}

.story-card .story-desc {
    padding: 0 54px 33px 37px;
    position: relative;
}

.story-card h3 {
    color: #000;
    font-family: Quicksand;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding-top: 38px;
}

.last-btn {
    padding: 80px 0 60px 0;
    text-align: center;
}

.last-btn .btn-6 {
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Black, #111);
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.btn-6:hover {
    color: var(--Black, #111);
    background: white;
}

.mark {
    width: 100%;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    color: #01ACFD;
}

footer {
    background: #01ACFD;
    font-family: Quicksand;
}

footer h1 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 38px;
}

footer p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 350px;
    margin-top: 30px;
}

footer .about {
    max-width: 1280px;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 140px 0 190px 0;
}

footer ul li {
    list-style: none;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.logo1 {
    width: 76px;
}

.logo1 img {
    width: 100%;
    cursor: pointer;
}

footer h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 26px;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 500;
    gap: 16px;
}

footer a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social_list {
    display: flex;
    gap: 8;
}

.social_list img {
    width: 100%;
    border-radius: 4px;
    transition: transform 0.3s;
}

.social-list img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 576px) {
    .curriculum-sec .story-box {
        padding: 0 16px;
    }
    .navbar ul,
    .navbar .btn,
    .navbar .logo h3 {
        display: none;
    }
    .navbar .icon {
        display: initial;
    }
    .navbar {
        margin: 0;
        padding: 12px 16px;
        border-bottom: 0.5px solid #fea301;
    }
    .hero {
        flex-direction: column-reverse;
        padding: 20px 16px;
        text-align: center;
        gap: 20px;
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 18px;
        align-self: stretch;
    }
    .hero .banner-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
        align-self: stretch;
    }
    .hero h1 {
        font-size: 2rem;
        line-height: normal;
    }
    .banner-btn {
        flex-direction: column;
        gap: 15px;
    }
    .icons {
        display: none;
    }
    .card-box {
        flex-direction: column;
    }
    .curriculum h2 {
        font-size: 1.5rem;
        padding: 40px 0 20px 0;
        margin-bottom: 18px;
    }
    .story-box {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding: 0 16px 0 16px;
    }
    .first {
        display: none;
    }
    .story-card button {
        font-size: 0.5rem;
        height: 22px;
        position: absolute;
        top: -14px;
    }
    .story-card h3 {
        font-size: 0.5rem;
        line-height: 17px;
    }
    .story-card .story-desc {
        padding: 0 23px 17px 22px;
    }
    .story-desc h3 {
        padding-top: 25px;
    }
    footer .about {
        padding: 50px 15px 50px 20px;
        flex-direction: column;
        gap: 30px;
    }
    .footer-logo {
        position: relative;
    }
}